<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Pictagram</title>
</head>
<body>
    <form class="profile" action="/home/profile/create/" method="post">
        <div>
            <label for="fullName">Full Name</label><br>
            <input class="inputProfile" type="text" name="fullName" id="">
        </div><br>
        <div>
            <label for="profilePicture">Profile Picture</label><br>
            <input class="inputProfile" type="text" name="profilePicture">
        </div><br>
        <div>
            <label for="bio">Bio</label><br>
            <textarea class="inputProfile" name="bio" id="" cols="30" rows="10"></textarea>
        </div><br>
        <input class="buttonProfile" type="submit" value="Submit">
    </form>
</body>
</html>