<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictagram</title>
</head>
<body>
    <form action="/home/profile/create/" method="post">
        <div>
            <label for="fullName">Full Name</label><br>
            <input type="text" name="fullName">
        </div><br>
        <div>
            <label for="profilePicture">Profile Picture</label><br>
            <input type="text" name="profilePicture">
        </div><br>
        <div>
            <label for="bio">Bio</label><br>
            <textarea name="bio" id="" cols="30" rows="10"></textarea>
        </div><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>