<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Pictagram</title>
</head>
<body class="login">
    <div class="loginForm">
        <form  action="/" method="post">
            <div>
                <label for="email">Email</label><br>
                <input class="inputLogin" type="email" name="email">
            </div><br>
            <div>
                <label for="password">Password</label><br>
                <input class="inputLogin" type="password" name="password">
            </div><br>
            <input class="buttonLogin" type="submit" value="Sign In">
        </form>
        <center><p>You don't have an account? <a href="/signUp">Signup</a></p></center>
    </div>
</body>
</html>